/*******
*
*
* Author Name : Mostafizur Rahman
* Author URI : http://mostafiz.me/
* Descripion : This is a responsive Bootstrap responsive app landing page developed by Mostafizur Rahman
* Template URI : http://mostafiz.me/demo/lucid/
* Version : 1.1
*
*#ea003f
*******/
/* var text-decoration */
@font-face {
  font-family: myfont;
  src: url(../fonts/ufonts.com_tw-cen-mt.ttf);
}
/*--
    Common Css
--*/
body{
	margin: 0;
	padding: 0;
	font-family: myfont;
	box-sizing: border-box;
    color: #666;
    font-weight: 400;
}
li{
	list-style: none;
}
a:hover, a:visited, a{
	text-decoration: none;
}
h4{
	font-size: 14px;
	color: #ea003f;
	text-transform: uppercase;
	margin-top: 65px;
	font-weight: 700;
}
h5{
	font-size: 16px;
	margin-top: 15px;
	font-weight: 700;
    font-style: italic;
}
h2{
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 25px;
	margin-top: 0;
	color: #333;
}

/*header area*/
span{
    color:#ea003f    
}

.navbar-brand {
    color: #fff !important;
    font-size: 35px;
    font-weight: bolder;
}
.top-header{
	background:transparent;
	position: fixed;
	width: 100%;
	z-index: 999;
		transition: all .7s ease 0s;
	-webkit-transition: all .7s ease 0s;
	-moz-transition: all .7s ease 0s;
	-o-transition: all .7s ease 0s;
	-ms-transition: all .7s ease 0s;
}
.top-header img.logo{
	margin-top: 0;
	transition: all .7s ease 0s;
	-webkit-transition: all .7s ease 0s;
	-moz-transition: all .7s ease 0s;
	-o-transition: all .7s ease 0s;
	-ms-transition: all .7s ease 0s;
}
.navbar-default {
  background-color: transparent;
  border-color: transparent;
  margin-bottom: 0;
}
.nav-bar{
	margin-top: 28px;
	transition: all .7s ease 0s;
	-webkit-transition: all .7s ease 0s;
	-moz-transition: all .7s ease 0s;
	-o-transition: all .7s ease 0s;
	-ms-transition: all .7s ease 0s;
}
.navbar-toggle span{
	color: #fff;
}
ul.nav{
	margin: 0;
	padding: 0;
}
.navbar-default .navbar-nav>li>a {
 	font-size: 16px;
	color: #fff;
	text-transform: capitalize;
	transition: all .7s ease 0s;
	-webkit-transition: all .7s ease 0s;
	-moz-transition: all .7s ease 0s;
	-o-transition: all .7s ease 0s;
	-ms-transition: all .7s ease 0s;
	padding: 8px 0;
	margin:0 15px;
	font-weight: 600;
}
.navbar-default .navbar-nav>li>a:hover{
	color: #fff;
	border-bottom: 2px solid #ea003f;
}
.navbar-default .navbar-nav>li>a.active{
	color: #fff;
	border-bottom: 2px solid #ea003f;
}
.navbar-default .navbar-toggle {
  border-color: #fff;
}

/*banner area*/
.banner{
	background: url(../img/macbook-edit2.jpg);
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
	-webkit-background-size: cover;
	background-size: cover;
}
.banner h3{
	font-size: 14px;
	color: #ea003f;
	text-transform: uppercase;
	margin-top: 160px;
	font-weight: 700;
}
.banner h1{
	font-size: 48px;
	color: #fff;
}
.banner p{
	font-size: 18px;
	color: #999999;
	margin-top: 25px;
	line-height: 2;
	font-weight: 600;
}
.download-btn{
	width: 160px;
	height: 50px;
	background: #ea003f;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	border-radius: 4px;
	border:0;
	margin-top: 60px;
	margin-right: 15px;
	font-weight: 600;
}
.features-btn{
	width: 160px;
	height: 50px;
	border-radius: 4px;
	border: 1px solid #444348;
	text-transform: uppercase;
	color: #fff;
	background: transparent;
	font-size: 14px;
	margin-top: 60px;
	margin-bottom: 105px;
	font-weight: 600;
}
.banner-img{
	position: relative;
}
.banner img{
	position: absolute;
	margin-top:125px;
}

/*features area*/
.features img{
	margin:auto;
	display: block;
	margin-bottom: 50px;
}
.features i.fa{
	font-size: 25px;
	color: #ea003f;
	font-weight: 700;
	width: 100px;
	  height: 100px;
	  border: 1px solid #e1e1e1;
	  line-height: 4;
	  border-radius: 50%;
	  cursor: pointer;
	  transition: all .7s ease 0s;
	  -webkit-transition: all .7s ease 0s;
	  -moz-transition: all .7s ease 0s;
	  -o-transition: all .7s ease 0s;
	  -ms-transition: all .7s ease 0s;
}
.features i.fa:hover{
	color: #fff;
	background: #ea003f;
}
.features h3{
	font-size: 24px;
	color: #1a1a1a;
}
.features p{
	font-size: 18px;
	color: #999999;
	margin-bottom: 70px;
}
/*details area*/
.details-phone{
	margin-top: 50px;
}
.details p{
	font-size: 18px;
	margin: 30px 0;
    line-height: 1.8;
}
.details ul{
	margin: 0;
	padding: 0;
}
.details ul li{
	font-size: 18px;
	margin-bottom: 7px;
	color: #666;
}
.details ul li i.fa{
	font-size: 20px;
	color: #ea003f;
	width: 30px;
}
.details ul li i.fa.fa-mobile{
	font-size: 24px;
	padding-left: 4px;
}
.details ul li i.fa.fa-trophy{
	font-size: 21px;
}
.details ul li i.fa.fa-file-text{
	font-size: 18px;
	padding-left: 1px;
}
.details ul li i.fa.fa-users{
	font-size: 17px;
}
.details ul li i.fa.fa-code{
	font-size: 21px;
}
/*feature-detail area*/
.feature-detail{
	background: #f2f2f2;
}
.feature-detail h4{
	margin-top: 120px;
}
.feature-detail h2{
	margin-bottom: 10px;
}
.feature-detail p{
	font-size: 18px;
	color: #999999;
	margin-top: 20px;
}
.horizontal-phone img{
	margin:30px 0;
}

/*pricing-slide area*/
.pricing-slide{
	background: url(../img/paralax.jpg);
	background-repeat: no-repeat;
	background-position: fixed;
	-webkit-background-size: cover;
	background-size: cover;
}
.pricing-slide h2{
	margin-bottom: 10px;
	color: #fff;
}
.pricing-slide p{
	font-size: 24px;
	color: #fff;
	font-style: italic;
	font-weight: 300;
	margin-top: 60px;
	margin-bottom: 25px;
}
.item img{
	float: left;
	margin-right: 20px;
	margin-bottom: 200px;
}
.item h5{
	font-size: 14px;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
}
.item h6{
	font-size: 16px;
	color: #fff;
	padding-top: 12px;
}
/*download area*/
.download{
	background: #15141a;
}
.download p{
	font-size: 36px;
	color: #fff;
	font-weight: 300;
	padding: 65px 0;
}
.download p span{
	font-weight: 700;
}
.download button{
	margin: 65px 0;
}
.download button.download-btn{
	margin-left: 15px;
}
/*price-plan area*/
.price-plan img{
	margin:auto;
	margin-bottom: 70px;
}
.single-table{
	border: 1px solid #e0e0e0;
	margin-bottom: 60px;
}
.single-table h3{
	font-size: 24px;
	color: #1a1a1a;
	border-bottom: 1px solid #e0e0e0;
	padding: 18px;
	line-height: 1;
	margin-top: 0;
	text-transform: uppercase;
	margin-bottom: 0;
	transition:all .5s ease 0s;
	-webkit-transition:all .5s ease 0s;
	-moz-transition:all .5s ease 0s;
	-o-transition:all .5s ease 0s;
	-ms-transition:all .5s ease 0s;
}
.table-price{
	position: relative;
	border-bottom: 1px solid #e0e0e0;
	display: block;
	transition:all .5s ease 0s;
	-webkit-transition:all .5s ease 0s;
	-moz-transition:all .5s ease 0s;
	-o-transition:all .5s ease 0s;
	-ms-transition:all .5s ease 0s;
}
.table-price h5{
	font-size: 60px;
	font-weight: 600;
	color: #1a1a1a;
	line-height: 1;
	margin-bottom: 0;
	margin-top: 0;
	padding-top: 17px;
	transition:all .5s ease 0s;
	-webkit-transition:all .5s ease 0s;
	-moz-transition:all .5s ease 0s;
	-o-transition:all .5s ease 0s;
	-ms-transition:all .5s ease 0s;
}
.table-price h5 span{
	position: absolute;
	font-size: 25px;
	top: 21%;
	left: 34%;
	font-weight: 600;
}
.table-price p{
  font-size: 18px;
  color: #999999;
  line-height: 1;
  margin-bottom: 22px;
  transition:all .5s ease 0s;
	-webkit-transition:all .5s ease 0s;
	-moz-transition:all .5s ease 0s;
	-o-transition:all .5s ease 0s;
	-ms-transition:all .5s ease 0s;
}
.table-description p{
	font-size: 18px;
	color: #999999;
	padding: 10px 5px;
	margin-bottom: 0;
	transition:all .5s ease 0s;
	-webkit-transition:all .5s ease 0s;
	-moz-transition:all .5s ease 0s;
	-o-transition:all .5s ease 0s;
	-ms-transition:all .5s ease 0s;
}
.table-description a{
	color: #ea003f;
	transition:all .5s ease 0s;
	-webkit-transition:all .5s ease 0s;
	-moz-transition:all .5s ease 0s;
	-o-transition:all .5s ease 0s;
	-ms-transition:all .5s ease 0s;
}
.table-description button{
	width: 160px;
	height: 50px;
	border:1px solid #e0e0e0;
	color: #ea003f;
	border-radius: 4px;
	background: transparent;
	margin-bottom: 30px;
	font-weight: 700;
	transition:all .5s ease 0s;
	-webkit-transition:all .5s ease 0s;
	-moz-transition:all .5s ease 0s;
	-o-transition:all .5s ease 0s;
	-ms-transition:all .5s ease 0s;
}
.free h5 span{
	left: 39%;
}
.business h3{
	color: #fff;
}
.business-price{
	background: #ea003f;
}
.business-price p{
	color: #fff;
}
.business button{
	background: #ea003f;
	color: #fff;
	border:0;
}
.business h5{
	color: #fff;
}
/*
.single-table:hover.single-table h3{
	color: #ea003f;
}*/
.single-table:hover .table-description button{
	background: #ea003f;
	color: #fff;
	border:0;
}
.single-table:hover .table-price h5{
	color: #fff;
}
.single-table:hover .table-price p{
	color: #fff;
}
.single-table:hover .table-price{
	background: #ea003f;
}
/*contact area*/
.contact{
	background: #ededed;
	position: relative;
    padding-top: 100px
}
.contact-heading img{
	margin: auto;
	margin-bottom: 50px;
}
.contact i.fa{
	color: #ea003f;
	font-size: 32px;
	padding: 20px;
}
.contact i.fa.fa-envelope-o{
	font-size: 31px;
}
.contact p{
	font-size: 18px;
	color: #999999;
	line-height: 1;
}
.contact-form{
	background: #15141a;
	overflow: hidden;
	z-index: 222;
	position: absolute;
	margin-top: 50px;
}
.contact-form-left, .contact-form-right{
	margin-top: 60px;
}
.contact-form-left input{
	width: 100%;
	height: 50px;
	padding: 12px;
	border-radius: 5px;
	border:1px solid #444348;
	margin-bottom: 20px;
	background: transparent;
	color: #fff;
}
.contact-form textarea{
	width: 100%;
	height: 189px;
	border-radius: 5px;
	border:1px solid #444348;
	margin-bottom: 15px;
	background: transparent;
	padding: 12px;
	color: #fff;
}
.contact-form-right input{
	width: 160px;
	height: 50px;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	background: #ea003f;
	border-radius: 5px;
	border:0;
	margin-bottom: 40px;
}
/*map section*/
#map{
	width: 100%;
	height: 370px;
	pointer-events: none;
}
/*footer section*/
.footer{
	background: #15141a;
}
.footer i.fa{
	font-size: 15px;
	padding: 20px;
	color: #444348;
	margin-top: 20px;
}
.footer i.fa:hover{
	color: #ea003f;
}
.footer p{
	font-size: 14px;
	color: #444348;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 30px;
}
/*--
    price Start
--*/
#price {
  padding: 70px 0px;
}
#price .block > p {
  color: #9D9D9D;
  font-size: 16px;
  line-height: 26px;
  padding: 40px 133px 0;
  text-align: center;
}
#price .block .pricing-list {
  max-height: 400px;
  padding-top: 0px;
  overflow-y: auto;
}
#price .block .pricing-list ul {
  padding: 0 0 30px;
  margin: 0;
}
#price .block .pricing-list ul li {
  padding: 13px 0px;
}
#price .block .pricing-list ul li .item .item-title {
  position: relative;
  text-align: left;
}
#price .block .pricing-list ul li .item .item-title:hover {
	cursor: default;
}
#price .block .pricing-list ul li .item .item-title:hover .item-precio{
	font-weight: 800 !important; 
	color: #333 !important; 
}
#price .block .pricing-list ul li .item .item-title:hover span {
	font-weight: 800 !important; 
	color: #ea003f !important;
}
#price .block .pricing-list ul li .item .item-title h2 {
  display: inline-block;
  position: relative;
  z-index: 99;
  background: #fff;
  font-size: 20px;
  margin-bottom: 12px;
}
#price .block .pricing-list ul li .item .item-title .border-bottom {
  position: absolute;
  top: 0;
  width: 100%;
  height: 1px;
  border: 1px dotted #C9C9C9;
  margin-top: 20px;
}
#price .block .pricing-list ul li .item .item-title span {
  float: right;
  color: #938463;
  padding-right: 7px;
}
#price .block .pricing-list ul li .item p {
  padding: 0px 0 0px;
  color: #949494;
  margin-bottom: 0px;
}
#price .block .pricing-list .btn {
  padding: 28px 105px;
  border-radius: 0px;
  background: none;
  color: #FF4F02;
  border: 1px solid #FF4F02;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}
#price .block .pricing-list .btn:hover {
  background: #ff530a;
  color: #fff;
}
.item-precio{
	font-weight: 400;
	font-size: 20px;
	color: #666;
}